/* My Navigation section */
  
nav {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: gray;
  }

.logo {width:23%;
       padding: 1%;
       }


.content {
         width: 500px;
         margin: 0 auto;
         background-color: #ddd;
         padding: 10px;
         height: 200px;}


 /* My Footer section */
 footer {
    background-color: black;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }

  footer p {color: white;}


